---
import Layout from "../layouts/Layout.astro"
import logo2 from "../images/logo2.png"
import a1 from "../images/a1.png"
import a2 from "../images/a2.png"
import a3 from "../images/a3.png"
import a4 from "../images/a4.png"
import a5 from "../images/a5.png"
import a6 from "../images/a6.png"
import a7 from "../images/a7.jpg"
import a8 from "../images/a8.png"
import a9 from "../images/a9.png"
import a10 from "../images/a10.png"
import a11 from "../images/a11.png"
import a12 from "../images/a12.png"
import a13 from "../images/a13.png"
import a14 from "../images/a14.png"
import a15 from "../images/a15.png"
import a16 from "../images/a16.jpg"
import a17 from "../images/a17.png"
import a18 from "../images/a18.png"
import a19 from "../images/a19.png"
import a20 from "../images/a20.jpg"
import a21 from "../images/a21.jpg"
import a22 from "../images/a22.png"
import a23 from "../images/a23.png"
import a24 from "../images/a24.jpg"

---

<Layout title="Awards | Trillium">
    <div class="h-[40vh] md:h-[60vh] bg-[url('/src/images/awards.jpg')] bg-[#0003] bg-blend-darken bg-cover bg-center">
    </div>
    <div class="flex justify-center items-center py-5 md:py-8">
        <img class="w-24 md:w-36" src={logo2} alt="">
        <h2 class="text-[1.3rem] md:text-4xl font-bold pr-4 md:pr-0">Awards and Recognitions</h2>
    </div>
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 max-w-[1200px] mx-auto gap-2 sm:gap-6 px-3 py-12 md:py-16">
        <div class="border-[1px] border-[#0001] shadow-xl">
            <img src={a1} alt="">
        </div>
        <div class="border-[1px] border-[#0001] shadow-xl">
            <img src={a2} alt="">
        </div>
        <div class="border-[1px] border-[#0001] shadow-xl">
            <img src={a3} alt="">
        </div>
        <div class="border-[1px] border-[#0001] shadow-xl">
            <img src={a4} alt="">
        </div>
        <div class="border-[1px] border-[#0001] shadow-xl">
            <img src={a5} alt="">
        </div>
        <div class="border-[1px] border-[#0001] shadow-xl">
            <img src={a6} alt="">
        </div>
        <div class="border-[1px] border-[#0001] shadow-xl">
            <img src={a7} alt="">
        </div>
        <div class="border-[1px] border-[#0001] shadow-xl">
            <img src={a8} alt="">
        </div>
        <div class="border-[1px] border-[#0001] shadow-xl">
            <img src={a9} alt="">
        </div>
        <div class="border-[1px] border-[#0001] shadow-xl">
            <img src={a10} alt="">
        </div>
        <div class="border-[1px] border-[#0001] shadow-xl">
            <img src={a11} alt="">
        </div>
        <div class="border-[1px] border-[#0001] shadow-xl">
            <img src={a12} alt="">
        </div>
        <div class="border-[1px] border-[#0001] shadow-xl">
            <img src={a13} alt="">
        </div>
        <div class="border-[1px] border-[#0001] shadow-xl">
            <img src={a14} alt="">
        </div>
        <div class="border-[1px] border-[#0001] shadow-xl">
            <img src={a15} alt="">
        </div>
        <div class="border-[1px] border-[#0001] shadow-xl">
            <img src={a16} alt="">
        </div>
        <div class="border-[1px] border-[#0001] shadow-xl">
            <img src={a17} alt="">
        </div>
        <div class="border-[1px] border-[#0001] shadow-xl">
            <img src={a18} alt="">
        </div>
        <div class="border-[1px] border-[#0001] shadow-xl">
            <img src={a19} alt="">
        </div>
        <div class="border-[1px] border-[#0001] shadow-xl">
            <img src={a20} alt="">
        </div>
        <div class="border-[1px] border-[#0001] shadow-xl">
            <img src={a21} alt="">
        </div>
        <div class="border-[1px] border-[#0001] shadow-xl">
            <img src={a22} alt="">
        </div>
        <div class="border-[1px] border-[#0001] shadow-xl">
            <img src={a23} alt="">
        </div>
        <div class="border-[1px] border-[#0001] shadow-xl">
            <img src={a24} alt="">
        </div>
    </div>
</Layout>