---
import Layout from "../layouts/Layout.astro"
import logo2 from "../images/logo2.png"
import p1 from "../images/brands/p1.png"
import p2 from "../images/brands/p2.png"
import p3 from "../images/brands/p3.png"
import p4 from "../images/brands/p4.png"
import p5 from "../images/brands/p5.png"
import p6 from "../images/brands/p6.png"
import p7 from "../images/brands/p7.png"
import p8 from "../images/brands/p8.png"
import p9 from "../images/brands/p9.png"
import p10 from "../images/brands/p10.png"
import p11 from "../images/brands/p11.png"
import p12 from "../images/brands/p12.png"
import p13 from "../images/brands/p13.png"
import p14 from "../images/brands/p14.png"
import p15 from "../images/brands/p15.png"
import p16 from "../images/brands/p16.png"
import p17 from "../images/brands/p17.png"
import p18 from "../images/brands/p18.png"
import p19 from "../images/brands/p19.png"
import p20 from "../images/brands/p20.png"
import p21 from "../images/brands/p21.png"
import p22 from "../images/brands/p22.png"
import p23 from "../images/brands/p23.png"
import p24 from "../images/brands/p24.png"
import p25 from "../images/brands/p25.png"
import p26 from "../images/brands/p26.png"
import p27 from "../images/brands/p27.png"
import p28 from "../images/brands/p28.png"
import p29 from "../images/brands/p29.png"
import p30 from "../images/brands/p30.png"
import p31 from "../images/brands/p31.png"

---

<Layout title="Partners | Trillium">
    <div class="bg-[#0003] bg-blend-darken items-end bg-[url('/src/images/partners.jpg')] h-[36vh] md:h-[56vh] bg-cover bg-no-repeat">
	</div>
    <div class="flex justify-center items-center py-5 md:py-8">
        <img class="w-24 md:w-36" src={logo2} alt="">
        <h2 class="text-[1.3rem] md:text-4xl font-bold pr-4 md:pr-0">Strategic Partner Network</h2>
    </div>
    <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 max-w-[1200px] mx-auto gap-5 px-8 py-12 md:py-16">
        <div class="p-5 flex flex-col text-center justify-center items-center gap-2 border-[1px] border-[#0001] shadow-lg bg-[#fffa]">
            <img class="h-16" src={p1} alt="">
            <p class="text-[#888] uppercase font-semibold text-md">Certified Gold Partner providing custom development services for BizTalk, .NET, Microsoft Dynamics, SharePoint, Azure and more.</p>
        </div>
        <div class="p-5 flex flex-col text-center justify-center items-center gap-2 border-[1px] border-[#0001] shadow-lg bg-[#fffa]">
            <img class="h-16" src={p2} alt="">
            <p class="text-[#888] uppercase font-semibold text-md">Certified Salesforce developers have extensive knowledge to implement solutions that will elevate your business processes.</p>
        </div>
        <div class="p-5 flex flex-col text-center justify-center items-center gap-2 border-[1px] border-[#0001] shadow-lg bg-[#fffa]">
            <img class="h-16" src={p3} alt="">
            <p class="text-[#888] uppercase font-semibold text-md">AWS Implementation, Customization, Development, Consulting & Support to unlock the full business potential.</p>
        </div>
        <div class="p-5 flex flex-col text-center justify-center items-center gap-2 border-[1px] border-[#0001] shadow-lg bg-[#fffa]">
            <img class="h-16" src={p4} alt="">
            <p class="text-[#888] uppercase font-semibold text-md">UiPath Partner and certified developer helping businesses automate processes and manual work with custom integration and development.</p>
        </div>
        <div class="p-5 flex flex-col text-center justify-center items-center gap-2 border-[1px] border-[#0001] shadow-lg bg-[#fffa]">
            <img class="h-16" src={p5} alt="">
            <p class="text-[#888] uppercase font-semibold text-md">Certified NetSuite Alliance Partner with extensive experience in custom development for ERP, CRM, SuiteCommerce and more.</p>
        </div>
        <div class="p-5 flex flex-col text-center justify-center items-center gap-2 border-[1px] border-[#0001] shadow-lg bg-[#fffa]">
            <img class="h-16" src={p6} alt="">
            <p class="text-[#888] uppercase font-semibold text-md">Certified Partner providing custom spatial analytics, imagery and remote sensing, mapping and visualization and data collection solutions.</p>
        </div>
        <div class="p-5 flex flex-col text-center justify-center items-center gap-2 border-[1px] border-[#0001] shadow-lg bg-[#fffa]">
            <img class="h-16" src={p7} alt="">
            <p class="text-[#888] uppercase font-semibold text-md">Our top-tier technicians help customers bring their project ideas to life with Autodesk software solutions.</p>
        </div>
        <div class="p-5 flex flex-col text-center justify-center items-center gap-2 border-[1px] border-[#0001] shadow-lg bg-[#fffa]">
            <img class="h-16" src={p8} alt="">
            <p class="text-[#888] uppercase font-semibold text-md">Oracle Gold Partner providing custom development solutions for Cloud Systems, ERP, Fusion, Middleware, DBA, PeopleSoft and Oracle apps.</p>
        </div>
        <div class="p-5 flex flex-col text-center justify-center items-center gap-2 border-[1px] border-[#0001] shadow-lg bg-[#fffa]">
            <img class="h-16" src={p9} alt="">
            <p class="text-[#888] uppercase font-semibold text-md">We are Adobe Solution Partners trained to implement and develop custom Adobe solutions for all cloud suites.
            </p>
        </div>
        <div class="p-5 flex flex-col text-center justify-center items-center gap-2 border-[1px] border-[#0001] shadow-lg bg-[#fffa]">
            <img class="h-16" src={p10} alt="">
            <p class="text-[#888] uppercase font-semibold text-md">Industry-leading Magento partner and development company certified to deliver exceptional custom eCommerce solutions.
            </p>
        </div>
        <div class="p-5 flex flex-col text-center justify-center items-center gap-2 border-[1px] border-[#0001] shadow-lg bg-[#fffa]">
            <img class="h-16" src={p11} alt="">
            <p class="text-[#888] uppercase font-semibold text-md">Our Certified SAP Developers elevate and empower your business using SAP ERP and HANA database technologies.
            </p>
        </div>
        <div class="p-5 flex flex-col text-center justify-center items-center gap-2 border-[1px] border-[#0001] shadow-lg bg-[#fffa]">
            <img class="h-16" src={p12} alt="">
            <p class="text-[#888] uppercase font-semibold text-md">Trillium's eCommerce industry experts leverage the BigCommerce platform to help online retailers with custom development services.
            </p>
        </div>
        <div class="p-5 flex flex-col text-center justify-center items-center gap-2 border-[1px] border-[#0001] shadow-lg bg-[#fffa]">
            <img class="h-16" src={p13} alt="">
            <p class="text-[#888] uppercase font-semibold text-md">Our payments experts have the back-end industry knowledge to assist with any custom Clover development and integration.
            </p>
        </div>
        <div class="p-5 flex flex-col text-center justify-center items-center gap-2 border-[1px] border-[#0001] shadow-lg bg-[#fffa]">
            <img class="h-16" src={p14} alt="">
            <p class="text-[#888] uppercase font-semibold text-md">Authorized Sabre developers trained to bridge travel businesses with the Sabre GDS database and marketplace.
            </p>
        </div>
        <div class="p-5 flex flex-col text-center justify-center items-center gap-2 border-[1px] border-[#0001] shadow-lg bg-[#fffa]">
            <img class="h-16" src={p15} alt="">
            <p class="text-[#888] uppercase font-semibold text-md">Unreal Engine partner provides innovative games and immersive experiences development and integrations.
            </p>
        </div>
        <div class="p-5 flex flex-col text-center justify-center items-center gap-2 border-[1px] border-[#0001] shadow-lg bg-[#fffa]">
            <img class="h-16" src={p16} alt="">
            <p class="text-[#888] uppercase font-semibold text-md">Custom Verifone POS development solutions for feature-rich software, secure EMV transactions and multi-tender support for all terminal models.
            </p>
        </div>
        <div class="p-5 flex flex-col text-center justify-center items-center gap-2 border-[1px] border-[#0001] shadow-lg bg-[#fffa]">
            <img class="h-16" src={p17} alt="">
            <p class="text-[#888] uppercase font-semibold text-md">Certified PAX developers provide semi-integrated and fully-integrated POS application solutions for financial institutions.
            </p>
        </div>
        <div class="p-5 flex flex-col text-center justify-center items-center gap-2 border-[1px] border-[#0001] shadow-lg bg-[#fffa]">
            <img class="h-16" src={p18} alt="">
            <p class="text-[#888] uppercase font-semibold text-md">IBM Business Partner delivering operational excellence with IBM software technologies including Watson and Cognos.
            </p>
        </div>
        <div class="p-5 flex flex-col text-center justify-center items-center gap-2 border-[1px] border-[#0001] shadow-lg bg-[#fffa]">
            <img class="h-16" src={p19} alt="">
            <p class="text-[#888] uppercase font-semibold text-md">We are a top-quality certified Stripe partner that provides custom integration of online payment processing, and powers commerce for online businesses of any size.
            </p>
        </div>
        <div class="p-5 flex flex-col text-center justify-center items-center gap-2 border-[1px] border-[#0001] shadow-lg bg-[#fffa]">
            <img class="h-16" src={p20} alt="">
            <p class="text-[#888] uppercase font-semibold text-md">Certified Shopify partner and developer that provides custom B2B and B2C eCommerce store development solutions.</p>
        </div>
        <div class="p-5 flex flex-col text-center justify-center items-center gap-2 border-[1px] border-[#0001] shadow-lg bg-[#fffa]">
            <img class="h-16" src={p21} alt="">
            <p class="text-[#888] uppercase font-semibold text-md">Our team of Ingenico developers provide payment solutions for ISVs, VARs, ISOs, Merchant Service Providers, and Financial Institutions.
            </p>
        </div>
        <div class="p-5 flex flex-col text-center justify-center items-center gap-2 border-[1px] border-[#0001] shadow-lg bg-[#fffa]">
            <img class="h-16" src={p22} alt="">
            <p class="text-[#888] uppercase font-semibold text-md">Certified ServiceNow partner delivering exceptional service for businesses to help them automate their IT workflow.
            </p>
        </div>
        <div class="p-5 flex flex-col text-center justify-center items-center gap-2 border-[1px] border-[#0001] shadow-lg bg-[#fffa]">
            <img class="h-16" src={p23} alt="">
            <p class="text-[#888] uppercase font-semibold text-md">Trillium is an Allscripts Developer Partner, certified to help businesses overcome healthcare technology challenges.
            </p>
        </div>
        <div class="p-5 flex flex-col text-center justify-center items-center gap-2 border-[1px] border-[#0001] shadow-lg bg-[#fffa]">
            <img class="h-16" src={p24} alt="">
            <p class="text-[#888] uppercase font-semibold text-md">First Data Partner and payment industry expert providing seamless API integration and custom payment gateway solutions.
            </p>
        </div>
        <div class="p-5 flex flex-col text-center justify-center items-center gap-2 border-[1px] border-[#0001] shadow-lg bg-[#fffa]">
            <img class="h-16" src={p25} alt="">
            <p class="text-[#888] uppercase font-semibold text-md">Our experts custom develop Pruvan process management solutions designed to help your organization implement new procedures.</p>
        </div>
        <div class="p-5 flex flex-col text-center justify-center items-center gap-2 border-[1px] border-[#0001] shadow-lg bg-[#fffa]">
            <img class="h-16" src={p26} alt="">
            <p class="text-[#888] uppercase font-semibold text-md">Professional PrestaShop Partner providing online retailers with custom store development solutions for all industries.
            </p>
        </div>
        <div class="p-5 flex flex-col text-center justify-center items-center gap-2 border-[1px] border-[#0001] shadow-lg bg-[#fffa]">
            <img class="h-16" src={p27} alt="">
            <p class="text-[#888] uppercase font-semibold text-md">Trillium is backed by a team of payment experts with extensive experience in custom Worldpay payment processing solutions.
            </p>
        </div>
        <div class="p-5 flex flex-col text-center justify-center items-center gap-2 border-[1px] border-[#0001] shadow-lg bg-[#fffa]">
            <img class="h-16" src={p28} alt="">
            <p class="text-[#888] uppercase font-semibold text-md">Custom Xactware repair and building estimating software solutions to ensure accurate estimation in all phases of a project.
            </p>
        </div>
        <div class="p-5 flex flex-col text-center justify-center items-center gap-2 border-[1px] border-[#0001] shadow-lg bg-[#fffa]">
            <img class="h-16" src={p29} alt="">
            <p class="text-[#888] uppercase font-semibold text-md">Trillium's experts create custom solutions for mortgages, lending and banking processes which maximize the value of their digital data.
            </p>
        </div>
        <div class="p-5 flex flex-col text-center justify-center items-center gap-2 border-[1px] border-[#0001] shadow-lg bg-[#fffa]">
            <img class="h-16" src={p30} alt="">
            <p class="text-[#888] uppercase font-semibold text-md">As a Unity Partner, our developers specialize in the Unity 3D platform as well as Unity AR/VR/MR.

            </p>
        </div>
        <div class="p-5 flex flex-col text-center justify-center items-center gap-2 border-[1px] border-[#0001] shadow-lg bg-[#fffa]">
            <img class="h-16" src={p31} alt="">
            <p class="text-[#888] uppercase font-semibold text-md">We are Autodesk Forge Certified Systems Integrators trained by Autodesk experts to provide customers with seamless integrations and support resources.
            </p>
        </div>
    </div>
</Layout>