---
import Layout from "../layouts/Layout.astro"
import logo2 from "../images/logo2.png"
import s1 from '../images/s1.png'
import s2 from '../images/s2.png'
import s3 from '../images/s3.png'
import s4 from '../images/s5.png'
import s5 from '../images/s5.png'
import s6 from '../images/s6.png'
import s7 from '../images/s7.png'
import s8 from '../images/s8.png'
import s9 from '../images/s9.png'
import s21 from '../images/s21.png'
import s22 from '../images/s22.png'
import s23 from '../images/s23.png'
import s24 from '../images/s24.png'
import s25 from '../images/s25.png'
import s26 from '../images/s26.png'
import s27 from '../images/s27.png'
import s28 from '../images/s28.png'
import s29 from '../images/s29.png'
import s31 from '../images/s31.png'
import s32 from '../images/s32.png'
import s33 from '../images/s33.png'
import s34 from '../images/s34.png'
import s35 from '../images/s35.png'
import s36 from '../images/s36.png'
import s41 from '../images/s41.png'
import s42 from '../images/s42.png'
import s43 from '../images/s43.png'
import s44 from '../images/s34.png'
import s45 from '../images/s45.png'
import s46 from '../images/s46.png'
import s47 from '../images/s47.png'
import s48 from '../images/s48.png'
import s49 from '../images/s49.png'
---

<Layout title="Solutions | Trillium">
    <div class="h-[40vh] md:h-[60vh] bg-[url('/src/images/solutions.jpg')] bg-[#0003] bg-blend-darken bg-cover bg-center">
    </div>
    <div class="flex justify-center items-center py-5 md:py-8">
        <img class="w-24 md:w-36" src={logo2} alt="">
        <h2 class="text-[1.3rem] md:text-4xl font-bold pr-4 md:pr-0">Solutions</h2>
    </div>

    <div class="">
        <div class="max-w-[1200px] mx-auto border-[1px] border-[#0001] pb-8 md:pb-12">
            <div class="h-[40vh] md:h-[50vh] bg-[url('/src/images/sol1.jpg')] bg-no-repeat bg-center bg-cover"></div>
            <div class="">
                <div class="px-6 py-12 md:px-12 md:py-16">
                    <h4 class="text-2xl font-bold text-[#000] mb-4">Digital Transformation</h4>
                    <p class="text-lg text-[#444]">Accelerating transformation for new-age enterprises, we help businesses turn disruption into growth through our development capabilities in AI, automation, blockchain, and data analytics software and solutions.</p>
                </div>
                <div class="px-4 grid md:grid-cols-2 gap-4">
                    <div class="flex items-center gap-5 border-[1px] border-[#0001] shadow-lg p-4">
                        <img class="w-16" src={s1} alt="">
                        <p class="text-xl">ENTERPRISE MOBILITY</p>
                    </div>
                    <div class="flex items-center gap-5 border-[1px] border-[#0001] shadow-lg p-4">
                        <img class="w-16" src={s2} alt="">
                        <p class="text-xl">WEB APPLICATION</p>
                    </div>
                    <div class="flex items-center gap-5 border-[1px] border-[#0001] shadow-lg p-4">
                        <img class="w-16" src={s3} alt="">
                        <p class="text-xl">BLOCKCHAIN</p>
                    </div>
                    <div class="flex items-center gap-5 border-[1px] border-[#0001] shadow-lg p-4">
                        <img class="w-16" src={s5} alt="">
                        <p class="text-xl">ARTIFICIAL INTELLIGENCE</p>
                    </div>
                    <div class="flex items-center gap-5 border-[1px] border-[#0001] shadow-lg p-4">
                        <img class="w-16" src={s6} alt="">
                        <p class="text-xl">DATA SCIENCE & ANALYTICS</p>
                    </div>
                    <div class="flex items-center gap-5 border-[1px] border-[#0001] shadow-lg p-4">
                        <img class="w-16" src={s7} alt="">
                        <p class="text-xl">ROBOTICS PROCESS AUTOMATION</p>
                    </div>
                    <div class="flex items-center gap-5 border-[1px] border-[#0001] shadow-lg p-4">
                        <img class="w-16" src={s8} alt="">
                        <p class="text-xl">INTERNET OF THINGS</p>
                    </div>
                    <div class="flex items-center gap-5 border-[1px] border-[#0001] shadow-lg p-4">
                        <img class="w-16" src={s4} alt="">
                        <p class="text-xl">EXPERIE  NCE DESIGN</p>
                    </div>
                    <div class="flex items-center gap-5 border-[1px] border-[#0001] shadow-lg p-4">
                        <img class="w-16" src={s9} alt="">
                        <p class="text-xl">DIGITAL MARKETING & SEO</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="max-w-[1200px] mx-auto border-[1px] border-[#0001] pb-8 md:pb-12">
            <div class="h-[40vh] md:h-[50vh] bg-[url('/src/images/sol2.jpg')] bg-no-repeat bg-center bg-cover"></div>
            <div>
                <div class="px-6 py-12 md:px-12 md:py-16">
                    <h4 class="text-2xl font-bold text-[#000] mb-4">Enterprise Solutions</h4>
                    <p class="text-lg text-[#444]">Leverage enterprise applications developed on Microsoft, Salesforce, SAP, and emerging technologies to boost time-to-market and productivity.</p>
                </div>
                <div class="px-4 grid md:grid-cols-2 gap-4">
                    <div class="flex items-center gap-5 border-[1px] border-[#0001] shadow-lg p-4">
                        <img class="w-16" src={s21} alt="">
                        <p class="text-xl">MICROSOFT</p>
                    </div>
                    <div class="flex items-center gap-5 border-[1px] border-[#0001] shadow-lg p-4">
                        <img class="w-16" src={s22} alt="">
                        <p class="text-xl">SALESFORCE</p>
                    </div>
                    <div class="flex items-center gap-5 border-[1px] border-[#0001] shadow-lg p-4">
                        <img class="w-16" src={s23} alt="">
                        <p class="text-xl">CLOUD</p>
                    </div>
                    <div class="flex items-center gap-5 border-[1px] border-[#0001] shadow-lg p-4">
                        <img class="w-16" src={s24} alt="">
                        <p class="text-xl">SAP</p>
                    </div>
                    <div class="flex items-center gap-5 border-[1px] border-[#0001] shadow-lg p-4">
                        <img class="w-16" src={s25} alt="">
                        <p class="text-xl">DIGITAL COMMERCE</p>
                    </div>
                    <div class="flex items-center gap-5 border-[1px] border-[#0001] shadow-lg p-4">
                        <img class="w-16" src={s26} alt="">
                        <p class="text-xl">MS AZURE</p>
                    </div>
                    <div class="flex items-center gap-5 border-[1px] border-[#0001] shadow-lg p-4">
                        <img class="w-16" src={s27} alt="">
                        <p class="text-xl">ODOO</p>
                    </div>
                    <div class="flex items-center gap-5 border-[1px] border-[#0001] shadow-lg p-4">
                        <img class="w-16" src={s28} alt="">
                        <p class="text-xl">OPEN SOURCE</p>
                    </div>
                    <div class="flex items-center gap-5 border-[1px] border-[#0001] shadow-lg p-4">
                        <img class="w-16" src={s29} alt="">
                        <p class="text-xl">AWS SOLUTION</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="max-w-[1200px] mx-auto border-[1px] border-[#0001] pb-8 md:pb-12">
            <div class="h-[40vh] md:h-[50vh] bg-[url('/src/images/sol3.jpg')] bg-no-repeat bg-center bg-cover"></div>
            <div class="">
                <div class="px-6 py-12 md:px-12 md:py-16">
                    <h4 class="text-2xl font-bold text-[#000] mb-4">Product Engineering</h4>
                    <p class="text-lg text-[#444]">Unlock new business opportunities and manage enterprise growth by designing, delivering, and deploying product engineering solutions ranging from architecture design to product modernization and legacy migration.</p>
                </div>
                <div class="px-4 grid md:grid-cols-2 gap-4">
                    <div class="flex items-center gap-5 border-[1px] border-[#0001] shadow-lg p-4">
                        <img class="w-16" src={s31} alt="">
                        <p class="text-xl">PRODUCT DEVELOPMENT</p>
                    </div>
                    <div class="flex items-center gap-5 border-[1px] border-[#0001] shadow-lg p-4">
                        <img class="w-16" src={s32} alt="">
                        <p class="text-xl">ARCHITECTURE & DESIGN</p>
                    </div>
                    <div class="flex items-center gap-5 border-[1px] border-[#0001] shadow-lg p-4">
                        <img class="w-16" src={s33} alt="">
                        <p class="text-xl">LEGACY SYSTEM MIGRATION</p>
                    </div>
                    <div class="flex items-center gap-5 border-[1px] border-[#0001] shadow-lg p-4">
                        <img class="w-16" src={s34} alt="">
                        <p class="text-xl">APPLICATION DEVELOPMENT</p>
                    </div>
                    <div class="flex items-center gap-5 border-[1px] border-[#0001] shadow-lg p-4">
                        <img class="w-16" src={s35} alt="">
                        <p class="text-xl">APPLICATION MODERNIZATION</p>
                    </div>
                    <div class="flex items-center gap-5 border-[1px] border-[#0001] shadow-lg p-4">
                        <img class="w-16" src={s36} alt="">
                        <p class="text-xl">QA & TESTING</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="max-w-[1200px] mx-auto border-[1px] border-[#0001] pb-8 md:pb-12 mb-12">
            <div class="h-[40vh] md:h-[50vh] bg-[url('/src/images/sol4.jpg')] bg-no-repeat bg-center bg-cover"></div>
            <div>
                <div class="px-6 py-12 md:px-12 md:py-16">
                    <h4 class="text-2xl font-bold text-[#000] mb-4">Consulting</h4>
                    <p class="text-lg text-[#444]">Boost business growth and digital value with our consulting expertise in Agile & DevOps, technology outsourcing, and business automation.</p>
                </div>
                <div class="px-4 grid md:grid-cols-2 gap-4">
                    <div class="flex items-center gap-5 border-[1px] border-[#0001] shadow-lg p-4">
                        <img class="w-16" src={s41} alt="">
                        <p class="text-xl">CLOUD CONSULTING</p>
                    </div>
                    <div class="flex items-center gap-5 border-[1px] border-[#0001] shadow-lg p-4">
                        <img class="w-16" src={s42} alt="">
                        <p class="text-xl">AGILE & DEVOPS</p>
                    </div>
                    <div class="flex items-center gap-5 border-[1px] border-[#0001] shadow-lg p-4">
                        <img class="w-16" src={s43} alt="">
                        <p class="text-xl">IT OUTSOURCING</p>
                    </div>
                    <div class="flex items-center gap-5 border-[1px] border-[#0001] shadow-lg p-4">
                        <img class="w-16" src={s44} alt="">
                        <p class="text-xl">IT SERVICES</p>
                    </div>
                    <div class="flex items-center gap-5 border-[1px] border-[#0001] shadow-lg p-4">
                        <img class="w-16" src={s45} alt="">
                        <p class="text-xl">STAFF AUGMENTATION</p>
                    </div>
                    <div class="flex items-center gap-5 border-[1px] border-[#0001] shadow-lg p-4">
                        <img class="w-16" src={s46} alt="">
                        <p class="text-xl">BUSINESS AUTOMATION</p>
                    </div>
                    <div class="flex items-center gap-5 border-[1px] border-[#0001] shadow-lg p-4">
                        <img class="w-16" src={s47} alt="">
                        <p class="text-xl">BUSINESS CONSULTING</p>
                    </div>
                    <div class="flex items-center gap-5 border-[1px] border-[#0001] shadow-lg p-4">
                        <img class="w-16" src={s48} alt="">
                        <p class="text-xl">DEDICATED TEAM</p>
                    </div>
                    <div class="flex items-center gap-5 border-[1px] border-[#0001] shadow-lg p-4">
                        <img class="w-16" src={s49} alt="">
                        <p class="text-xl">BPO SERVICES</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</Layout>